.wfui-input-radios{
    
    &__container:after{
        content: "";
        display: table;
        clear: both;
    }
    &--col-2 .wfui-input-radio{
        float: left;
        width: 50%;
    }
    &--col-3 .wfui-input-radio{
        float: left;
        width: 33.3%;
    }
    &--col-4 .wfui-input-radio{
        float: left;
        width: 25%;
    }
}

.wfui-input-radio{
    &__label{
        display: block;
        border: 1px solid #000;
    }
}