.btn-icon-pre {
    .btn-icon-container {
        margin-right: $btn-icon-margin;
    }
}

.btn-icon-post {
    .btn-icon-container {
        margin-left: $btn-icon-margin;
    }
}

.wfui-dropdown-menu {
    .dropdown-menu {
        z-index: $zindex-wfuidropdown;
    }
}