.wfui-input-table{
    p, ul{
        margin: 0;
    }
    &__form{
        border: 1px solid #aaa;
        padding: 10px;
    }
    &__label{
        font-weight: bold;
        display: inline-block;
    }
    &__ul{
        display: inline-block;
        list-style-type: none;
        padding-left: 0;
    }
    &__li{
        display: inline-block;
    }
    &__condition{
        font-weight: bold;
        margin: 0;
    }
    &__li div{
        display: inline-block;
    }
}