.wfui-tooltip {
    position: relative;
    display: inline-block;
}

.wfui-tooltip .wfui-tooltip-text {
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 2px 0;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.wfui-tooltip:hover .wfui-tooltip-text {
  visibility: visible;
  opacity: 1;
}

.wfui-tooltip .wfui-tooltip-text-left{
    position: absolute;
    left: 110%;
}

.wfui-tooltip .wfui-tooltip-text-down{
    position: absolute;
    top: 110%;
    left: -50%;
}
.wfui-tooltip .wfui-tooltip-text-up{
    position: absolute;
    top: -110%;
    left: -50%;
}