/* Base font, spacing */
.wfui,
.wfui-header,
.wfui-avatar,
.wfui-badge,
.wfui-badge,
.wfui-button,
.wfui-dialog,
.wfui-dialog2,
.wfui-dropdown2,
.wfui-expander,
.wfui-navgroup,
.wfui-label,
.wfui-lozenge,
.wfui-message,
.wfui-page-header,
.wfui-progress-tracker,
.wfui-select2,
.wfui-tabs,
.wfui-toolbar2,
.wfui-tooltip
 {
	color: #333;
	font-family: Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857142857143;
}

/* App header */
ul.wfui-nav li {
	background: none;
}

nav.wfui-header li a:hover,
nav.wfui-header li a.active {
	color: white;
}

/* Dropdown */
.wfui-dropdown2 li {
	padding: 0; margin: 0;
	background: none;
}

/* Select2 */
form.wfui .select2-container li {
	background: none;
}

/* Tabs */
.wfui-tabs li {
	padding: 0;
}

/* Dialog */
.wfui-dialog li {
	background: none;
}

/* Forms */
form.wfui .form-item label {
	font-weight: normal;
}
form.wfui fieldset {
	background: none;
}

/* Messages */
.wfui-message p {
	margin: 10px 0 0;
}
.wfui-message p.title {
	margin: 0;
}
.wfui-message.error,
.wfui-message.warning,
.wfui-message.success,
.wfui-message.hint {
	margin: 10px 0 0 0;
	padding: 10px 10px 10px 36px;
}