.checkbox,
.radio,
input,
textarea {
    line-height: 26px;
}

span.help-block {
    display: block;
}

.form-control-feedback {
    line-height: initial;
}

span.help-block:empty,
label.control-label:empty {
    display: none;
}

/* WFUI Form Item
-------------------------------------------------------------- */

/* WFUI Description */

.wfui-description:before {
    content: '';
    position: absolute;
    right: 100%;
    top: 10px;
    width: 0;
    height: 0;
    margin: 0;
    border-top: 7px solid transparent;
    border-right: 8px solid #d9edf7;
    border-bottom: 7px solid transparent;
}

.wfui-description {
    position: absolute;
    top: 21px;
    left: calc(100% + 15px);
    width: calc(66.666% - 15px);
    padding: 10px;
    margin: 0;
    margin-bottom: 20px;
    background-color: #d9edf7;
    border-radius: 3px;
    font-size: 12px;
    font-weight: normal;
    border-top: 1px solid #fff;
}

.wfui-description::after,
.question-type-text .wfui-description::before {
    display: none;
}

.question-type-text .wfui-description {
    position: static;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 26px;
    background: transparent;
    color: #333;
    padding: 0px;
    border: none;
}

/* WFUI Input */
.wfui-form-item input[type='text'],
.wfui-form-item input[type='number'],
.wfui-form-item input[type='file'],
.wfui-form-item input[type='password'],
.wfui-form-item textarea {
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 5px !important;
    border: 1px solid #c1c4c7;
    outline: none;
    font-family: 'Open Sans';
    font-size: 14px;
    resize: none;
}

.wfui-type-input-field,
.wfui-type-listbox,
.wfui-type-selection-hybrid,
.wfui-type-table-format {
    width: 60%;
    position: relative;
}

.wfui-form-item .wfui-input-table__ul {
    margin-top: 0;
}

.wfui-input-table__ul {
    width: 100%;
    float: none;
}

.wfui-input-table__ul {
    padding-left: 0;
    display: block;
    margin: 0;
}

.wfui-input-table__li {
    list-style: none;
    list-style-type: none;
    display: inline-block;
    margin-right: 2%;
}

div[class*='multiple-inputs-'] .wfui-input-table__li:nth-child(odd) {
    width: 40%;
}

div[class*='multiple-inputs-'] .wfui-input-table__li:nth-child(even) {
    width: 7%;
    text-align: center;
}

div[class*='multiple-inputs-'] .wfui-input-table__li:nth-child(4n) {
    margin-right: 0;
}

div.multiple-inputs-2 .wfui-input-table__li:nth-child(odd) {
    width: 44.5%;
}

div.multiple-inputs-2 .wfui-input-table__li:nth-child(3n) {
    margin-right: 0;
}

div[class^='multiple-inputs-'] .wfui-input-table__li:nth-child(even) {
    width: 7%;
    text-align: center;
}

.wfui-form-item .wfui-input-table__ul .wfui-form-item label {
    display: none;
}

div.wfui-form-item div.checkbox,
div.wfui-form-item div.radio {
    border: none;
}

.question-preview-container .question-preview div.wfui-form-item {
    margin-bottom: 0;
}

/* WFUI Input */

.wfui-draggable {
    width: 80%;
}

.wfui-draggable-item > div:first-child {
    border: 1px solid #dfdfe0;
    padding: 20px 10px 10px 10px;
    background-color: #fff;
}

.wfui-draggable-item > div:nth-child(2) {
    width: 100% !important;
    background-color: #f5f5f5;
    border: 1px solid #dfdfe0;
    padding: 20px 20px 20px 20px;
}

.wfui-draggable .wfui-draggable-item div.fields {
    margin: 0;
}

/* Checkboxes Input
-------------------------------------------------------------- */
div.wfui-type-selection-hybrid
    > div.wfui-form-item
    .wfui-checkboxes-hybrid.column-count-1,
div.wfui-type-selection-hybrid
    > div.wfui-form-item
    .wfui-radios-hybrid.column-count-1,
div.wfui-type-selection-hybrid
    > div.wfui-form-item
    .wfui-checkboxes-hybrid.column-count-0,
div.wfui-type-selection-hybrid
    > div.wfui-form-item
    .wfui-radios-hybrid.column-count-0 {
    width: 166.666%;
}

div.wfui-type-selection-hybrid
    > div.wfui-form-item
    .wfui-radios-hybrid.column-count-1
    + div.wfui-form-item,
div.wfui-type-selection-hybrid
    > div.wfui-form-item
    .wfui-checkboxes-hybrid.column-count-1
    + div.wfui-form-item,
div.wfui-type-selection-hybrid
    > div.wfui-form-item
    .wfui-radios-hybrid.column-count-0
    + div.wfui-form-item,
div.wfui-type-selection-hybrid
    > div.wfui-form-item
    .wfui-checkboxes-hybrid.column-count-0
    + div.wfui-form-item {
    width: 100%;
}

.wfui-radios-hybrid,
.wfui-checkboxes-hybrid,
.wfui-radios-hybrid > div.radio,
.wfui-checkboxes-hybrid > div.checkbox {
    display: flex;
    flex-flow: row wrap;
}

.wfui-radios-hybrid > div.radio > label,
.wfui-checkboxes-hybrid > div.checkbox > label {
    display: flex;
    align-items: center;
}

.wfui-radios-hybrid div.wfui-form-item,
.wfui-checkboxes-hybrid div.wfui-form-item {
    margin: 0;
}

.wfui-radios-hybrid .radioHybrid,
.wfui-checkboxes-hybrid .checkboxHybrid {
    margin-left: 10px;
}

div.wfui-radios-hybrid label div.radioHybrid input,
div.wfui-checkboxes-hybrid label div.checkboxHybrid input {
    margin: 0;
}

.wfui-form-item .radio,
.wfui-form-item .checkbox {
    margin-bottom: 1%;
}

.wfui-form-item div.column-count-0 .radio,
.wfui-form-item div.column-count-0 .checkbox {
    width: initial;
    margin-right: 1%;
}

.wfui-form-item div.column-count-1 .radio,
.wfui-form-item div.column-count-1 .checkbox {
    width: 100%;
}

.wfui-form-item div.column-count-2 .radio,
.wfui-form-item div.column-count-2 .checkbox {
    width: 49.5%;
    margin-right: 1%;
}

.wfui-form-item div.column-count-2 .radio:nth-child(even),
.wfui-form-item div.column-count-2 .checkbox:nth-child(even) {
    margin-right: 0;
}

.wfui-form-item div.column-count-3 .radio,
.wfui-form-item div.column-count-3 .checkbox {
    width: 32.666%;
    margin-right: 1%;
}

.wfui-form-item div.column-count-3 .radio:nth-child(3n),
.wfui-form-item div.column-count-3 .checkbox:nth-child(3n) {
    margin-right: 0;
}

.wfui-form-item div.column-count-4 .radio,
.wfui-form-item div.column-count-4 .checkbox {
    width: 24.25%;
    margin-right: 1%;
}

.wfui-form-item div.column-count-4 .radio:nth-child(4n),
.wfui-form-item div.column-count-4 .checkbox:nth-child(4n) {
    margin-right: 0;
}

.wfui-form-item div.column-count-5 .radio,
.wfui-form-item div.column-count-5 .checkbox {
    width: 19.2%;
    margin-right: 1%;
}

.wfui-form-item div.column-count-5 .radio:nth-child(5n),
.wfui-form-item div.column-count-5 .checkbox:nth-child(5n) {
    margin-right: 0;
}
