/* General Form Items
-------------------------------------------------------------- */
.checkbox,
.radio,
input,
textarea {
    line-height: 26px;
}

span.help-block {
    display: block;
}

.form-control-feedback {
    line-height: initial;
}

span.help-block:empty,
label.control-label:empty {
    display: none;
}

/* WFUI Form Item
-------------------------------------------------------------- */
.oicr-form-item,
.oicr-form-body {
    position: relative;
}

/* WFUI Description
-------------------------------------------------------------- */
.form-description:before {
    content: '';
    position: absolute;
    right: 100%;
    top: 10px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 8px solid #d9edf7;
    border-bottom: 7px solid transparent;
}

.question-type-text .wfui-description::before {
    display: none;
}

.question-type-text .wfui-description {
    position: static;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 26px;
    background: transparent;
    color: #333;
    padding: 0px;
    border: none;
}

/* Type Selection Hybrid: Checkboxes Input
-------------------------------------------------------------- */
div.wfui-type-selection-hybrid
    > div.wfui-form-item
    .wfui-checkboxes-hybrid.column-count-1,
div.wfui-type-selection-hybrid
    > div.wfui-form-item
    .wfui-radios-hybrid.column-count-1,
div.wfui-type-selection-hybrid
    > div.wfui-form-item
    .wfui-checkboxes-hybrid.column-count-0,
div.wfui-type-selection-hybrid
    > div.wfui-form-item
    .wfui-radios-hybrid.column-count-0 {
    width: 166.666%;
}

div.wfui-type-selection-hybrid
    > div.wfui-form-item
    .wfui-radios-hybrid.column-count-1
    + div.wfui-form-item,
div.wfui-type-selection-hybrid
    > div.wfui-form-item
    .wfui-checkboxes-hybrid.column-count-1
    + div.wfui-form-item,
div.wfui-type-selection-hybrid
    > div.wfui-form-item
    .wfui-radios-hybrid.column-count-0
    + div.wfui-form-item,
div.wfui-type-selection-hybrid
    > div.wfui-form-item
    .wfui-checkboxes-hybrid.column-count-0
    + div.wfui-form-item {
    width: 100%;
}

/* WFUI Draggable Item
/-------------------------------------------------------------- */

/* WFUI Form Checkboxes
/-------------------------------------------------------------- */

/* Bootstrap component: Buttons - Add
-------------------------------------------------------------- */

.add-btn {
    padding: 10px 15px 10px 35px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 1px;
    color: #3365a0;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    // background-image: url("icgc-images/icon-read-more.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px center;
}

.add-btn:hover,
.add-btn:active,
.add-btn:focus,
.add-btn.focus {
    background-color: #f7f7f7;
    color: #3365a0;
}

/* Input
-------------------------------------------------------------- */
input[type='text']#searchTerm {
    padding-left: 36px;
    box-sizing: border-box;
    // background-image: url(icgc-images/icon-search.svg);
    background-size: 21px;
    background-repeat: no-repeat;
    background-position: 8px center;
}

/* Photo Field
-------------------------------------------------------------- */
div.wfui-form-photo.choose-file {
    width: 100%;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 1px;
    padding: 6px 12px;
}

div.wfui-form-photo.file-chosen p.image-preview {
    display: inline-flex;
    align-items: center;
    min-height: 100px;
    width: 120px;
    border-right: 1px solid #ccc;
    margin: 0 20px 0 0;
}

div.wfui-form-photo.file-chosen p.image-preview > img {
    width: 100px;
    height: initial !important;
    border: 1px solid #ccc;
}

div.wfui-form-photo.file-chosen > button.btn-remove {
    display: inline-block;
    vertical-align: bottom;
}
