/* Page Structure
-------------------------------------------------------------- */

/*div#oicr-admin-form-builder-build {
    margin: 0 -30px;
}*/

#oicr-admin-dashboard {
    margin: 0;
}

#oicr-admin-dashboard > .col-sm-12 {
    padding: 0;
}

div.application-bar > .container {
    width: 100%;
    padding: 0 24px;
}

body {
    line-height: initial;
}

.checkbox , .radio , input , textarea {
    line-height: 26px;
}

p.page_loading {
    margin: 0;
}

.btn-default:focus, .btn-default:hover {
    background-color: #e0e0e0;
    background-position: 10px center;
}

.modal .btn:focus, .modal .btn:hover {
    background-color: #e0e0e0;
    background-position: 0 center;
}

#oicr-admin-form-builder-build h2 ,
.question-dialog-container h2 {
    font-size: 22px;
    line-height: 35px;
}

.question-dialog-container .btn-default {
    color: #3365a0;
    font-weight: bold;
    border-radius: 1px;
}

.question-dialog-container .btn-default img {
    width: 26px;
    margin-top: -3px;
    padding-left: 0px;
    padding-right: 10px;
}

h3.divider::before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: #CFD6DB;
    margin: 16px 0;
}

.dropdown-menu {
    left: initial;
    right: 0;
}

span.help-block {
    display: block;
}

.form-control-feedback {
    line-height: initial;
}

span.help-block:empty , 
label.control-label:empty {
    display: none;
}

/* Dashboard & Application CSS Override */

label.status {
    line-height: 24px;
}

/* --- Dashboard Page ---
----------------------------------------------------------------------------------- */

/* Dashboard Boxes
-------------------------------------------------------------- */

.survey-overview {
    padding: 24px;
    width: 50%;
    background-color: white;
    position: relative;
    margin: 24px 0;
    border: 1px solid #cdd4d9;
    box-sizing: border-box;
    height: 250px;
}

.overview-details, .overview-image {
    width: 100%;
    float: left;
    position: relative;
    height: 200px;
}

.overview-details b.survey-label {
    color: #00796b;
}

.save-status {
    font-size: 13px;
    padding: 5px 20px;
    color: white;
    background-color: #187dbe;
    margin-left: 6px;
    border-radius: 2px;
}

.overview-details .save-status {
    float: right;
}

.overview-details h2 {
    font-size: 24px;
    line-height: 26px;
    margin-top: 18px;
}

.overview-menu {
    position: absolute;
    bottom: 0;
    background-color: #eaeaea;
    border: 1px solid #cdd4d9;
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
}

.overview-menu .btn {
    margin-right: 6px;
}

#oicr-admin-form-builder-dashboard .dropdown.btn-group {
    float: right;
}

#oicr-admin-form-builder-dashboard .dropdown.btn-group button:nth-child(1) {
    margin-right: 1px;
    border-radius: 4px 0 0 4px;
}

#oicr-admin-form-builder-dashboard .dropdown.btn-group button {
    height: 31px;
    color: white;
    padding-left: 8px;
    padding-right: 9px;
}

#oicr-admin-form-builder-dashboard .dropdown.btn-group button:nth-child(2) {
    border-radius: 0 4px 4px 0;
    line-height: 2px;
    background: linear-gradient(white, #e8ebee);
    border: 1px solid #c3c9ce;
    box-sizing: border-box;
    padding-left: 4px;
    padding-right: 5px;
    border-left: none;
}

/* --- Build Page ---
----------------------------------------------------------------------------------- */

/* Input
-------------------------------------------------------------- */

.input-table.text .input-column input[type="text"] {
    width: 100%;
}

.input-column input[type="text"], .input-column input[type="number"] {
    border-radius: 5px;
    border: 1px solid #BBC7D2;
    padding: 5px;
    width: 50%;
    margin: 0;
    font-style: italic;
}

/* Question Types
-------------------------------------------------------------- */

.question-types, .error-summary {
    width: calc(25% - 15px);
    float: left;
    height: 100vh;
    padding: 12px 24px;
    box-sizing: border-box;
    background-color: white;
    border: none;
    margin-top: 0;
    position: fixed;
    z-index: 1;
}

.question-types h2 {
    margin: 0 0 15px;
}

.question-type {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #d6d9db;
    border-radius: 5px;
    padding: 9px 12px;
    margin-bottom: 6px;
    background: linear-gradient(white, #e8ebee);
}

.question-type:hover {
    background: linear-gradient(#e8ebee, #e8ebee);
}

.question-type img {
    width: 20px;
    margin-top: -4px;
    vertical-align: middle;
}

.question-type span {
    margin-left: 8px;
    color: #00796b;
}

/* Right Container
-------------------------------------------------------------- */

.right-container {
    background-color: #e7eaed;
    width: 75%;
    float: right;
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    margin-top: 0;
}

/* Filter Bar */

.filter-bar {
    background-color: #cdd4d9;
    width: 100%;
    padding: 12px 24px;
    font-weight: 600;
    overflow: hidden;
    font-size: 14px;
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 24px;
}

.show-sections select, .show-sections > div {
    display: inline;
}

.show-sections select {
    width: 300px;
    background: #fff;
    margin-left: 5px;
    font-weight: 400;
}

.quick-filters {
    float: right;
    margin-top: 8px;
}

.quick-filters a {
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #bdbdbd;
    margin: 0px 2px;
    font-weight: 400;
    font-size: 13px;
}

/* Survey Section
-------------------------------------------------------------- */

.survey-question-section {
    width: calc(100% - 48px);
    border: 2px dashed #a9b2b9;
    margin: 0 auto;
    margin-bottom: 24px;
    overflow: hidden;
}

.survey-section-bar {
    width: 100%;
    padding: 10px 16px;
    background-color: #ddecf6;
}

.survey-expand {
    margin-right: 6px;
}

.survey-expand img {
    width: 24px;
    margin-top: -4px;
}

.survey-section-bar h2 {
    font-size: 18px;
    color: #3365a0;
    display: inline;
}

.section-actions {
    float: right;
    margin-right: 6px;
}

.section-actions a {
    margin-left: 4px;
}

.section-actions img {
    width: 15px;
    height: 18px;
    margin-top: 8px;
}

.section-questions {
    margin: 0;
}

.survey-question-section > .section-questions.subsection {
    width: 100%;
    margin-left: 0;
    background-color: rgb(235, 244, 250);
    padding: 12px;
}

.section-questions.subsection li {
    width: 100%;
    margin-bottom: 8px;
    margin-top: -1px;
    box-sizing: border-box;
    margin-left: 0;
}

.question-parent {
    list-style: none;
    background-color: white;
    width: 100%;
    border: 1px solid #cdd4d9;
    padding: 2px;
    color: black;
    font-size: 16px;
    position: relative;
    overflow: hidden;
}

.question-parent .icon {
    width: 39px;
    height: 39px;
    display: inline-block;
    margin-left: 2px;
    margin-top: 2px;
    background-color: #a5b2bd;
    position: absolute;
    margin: 0;
    bottom: 2px;
    left: 2px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center center;
}

.section-questions li {
    list-style: none;
    margin-bottom: 6px;
}

.section-questions .icon {
    width: 39px;
    height: 39px;
    display: inline-block;
    margin-left: 2px;
    margin-top: 2px;
    background-color: #a5b2bd;
    position: absolute;
    margin: 0;
    bottom: 2px;
    left: 2px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center center;
}

.question-text {
    display: inline-block;
    padding: 9px 11px 11px 54px;
    width: calc(100% - 120px);
    min-height: 36px;
    height: 36px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.question-actions {
    float: right;
    margin-top: 9px;
    margin-right: 7px;
}

.question-actions a {
    margin-left: 8px;
}

.question-actions img {
    width: 15px;
    height: 18px;
    vertical-align: middle;
}

.section-questions.subsection {
    width: 95%;
    margin-left: 5%;
    padding: 0;
}

.question-logic, .question-error {
    width: 100%;
    font-size: 13px;
    background-color: #e1e5e8;
    padding: 4px;
    margin-bottom: 2px;
    overflow: hidden;
}

.logic-actions {
    float: right;
    margin-right: 4px;
}

.logic-actions a {
    margin-left: 8px;
}

.logic-actions img {
    width: 12px;
    margin-top: -4px;
}

/* Icon Pack */

.icon.yes-no {
    background-image: url("../images/question-icons/icon-yes-no-white.svg");
}

.icon.multiple-choice {
    background-image: url("../images/question-icons/icon-multiple-choice-white.svg");
}

.icon.input-hybrid {
    background-image: url("../images/question-icons/icon-input-hybrid-white.svg");
}

.icon.question-group {
    background-image: url("../images/question-icons/icon-question-group-white.svg");
}

.icon.input-numeric {
    background-image: url("../images/question-icons/icon-input-numeric-white.svg");
}

.icon.input-text {
    background-image: url("../images/question-icons/icon-input-text-white.svg");
}

.icon.listbox {
    background-image: url("../images/question-icons/icon-listbox-white.svg");
}

.icon.text {
    background-image: url("../images/question-icons/icon-text-white.svg");
}

/* Question Modal
-------------------------------------------------------------- */

.modal-lg.modal-dialog {
    min-width: 800px;
}

.modal-lg {
    width: 96vw;
    height: 96vh;
}

.modal-content {
    height: 100%;
    background-color: #e7ebee;
}

.modal-body {
    position: relative;
    height: 100%;
}

body div.modal-content div.modal-header, body div.modal-content div.modal-body {
    margin: 0;
    padding: 0;
}

.dialog-trigger img {
    position: absolute;
    z-index: 2;
    width: 24px;
    top: 8px;
    right: 8px;
}

.question-dialog-container {
    height: 100%;
    position: relative;
    background-color: #e7ebee;
    border-radius: 5px;
}

/* Question Preview Left */

.question-preview-left {
    width: 40%;
    height: calc(100% - 58px);
    background-color: white;
    padding: 16px;
    border-radius: 5px 0 0 5px;
    border-right: 1px solid rgb(205, 212, 217);
    position: absolute;
    z-index: 2;
    overflow: scroll;
}

.question-preview-left.settings {
    width: 75%;
}

#settings ul {
    padding-left: 0;
}

.glyphicon.glyphicon-remove {
    margin-left: 6px;
}

.question-controls-container .glyphicon, .logic-select-container .glyphicon {
    color: rgb(187, 199, 210);
}

.question-preview-left .form-group select option {
    width: 100%;
    max-width: 400px;
}

.logic-select-container select {
    width: 30% !important;
    margin-right: 6px;
}

.select-column-number {
    margin-top: 12px;
    margin-left: 5px;
}

.select-column-number a {
    border: 1px solid #bfbfbf;
    padding: 8px 48px;
    margin: 0px;
    text-decoration: none;
    margin-left: 0px;
}

.select-column-number a.active {
    background-color: #10a98f;
    color: white;
}

.select-column-number a:first-child {
    border-radius: 5px 0 0 5px;
    margin-right: 0px;
}

.select-column-number a:last-child {
    border-radius: 0 5px 5px 0;
}

.question-dialog-container .nav.nav-tabs {
    background: #fff;
    width: 100%;
}

.nav.nav-tabs li a {
    padding-left: 36px;
    padding-right: 36px;
}

.question-type-title {
    margin: 16px 0px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 32px;
}

/* Variety */

.question-type-title.multiple-choice {
    background-image: url("../images/question-icons/icon-multiple-choice.svg");
}

.question-type-title.yes-no {
    background-image: url("../images/question-icons/icon-yes-no.svg");
}

.question-type-title.input-text {
    background-image: url(../images/question-icons/icon-input-text.svg);
}

.question-type-title.input-numeric {
    background-image: url(../images/question-icons/icon-input-numeric.svg);
}

.question-type-title.input-hybrid {
    background-image: url(../images/question-icons/icon-input-hybrid.svg);
}

.question-type-title.listbox {
    background-image: url(../images/question-icons/icon-listbox.svg);
}

.question-type-title.text {
    background-image: url(../images/question-icons/icon-text.svg);
}

.question-type-title.question-group {
    background-image: url(../images/question-icons/icon-question-group.svg);
}

.question-type-title.add-section {
    background-image: url(../images/question-icons/icon-add-section.svg);
}

.question-data-container {
    width: 100%;
    margin-bottom: 16px;
}

.question-preview-left .form-group {
    margin-top: 12px;
}

.question-preview-left .form-group.input-table div {
    overflow: hidden;
}

.input-table {
    width: 100%;
}

.input-row {
    width: 100%;
    overflow: hidden;
    padding: 8px 8px;
}

.input-row.header {
    background-color: #EEEFF3;
    border: 1px solid rgb(187, 199, 210);
}

.input-column {
    width: 50%;
    float: left;
}

.input-table.text ul.input-column, 
.input-table.hybrid ul.input-column {
    padding: 0;
    width: 15%;
}

.input-table.text .input-column {
    width: 25%;
    float: left;
}

.input-table.text .input-column.wide {
    width: 27.5%;
}

.input-table.text .input-column.icons {
    width: 15%;
}

.input-table.hybrid .input-column.wide {
    width: 27.5%;
}

.input-table.hybrid .input-column {
    width: 15%;
    float: left;
}

.input-table.hybrid .input-row.header b {
    display: block;
}

.input-table.hybrid input[type="text"] {
    width: 95%;
}

.input-column.icons {
    text-align: center;
}

.input-row {
    width: 100%;
    overflow: hidden;
    padding: 8px 8px;
}

.input-table.text .input-column.wide + .input-column {
    width: 32.5%;
}

.input-label {
    display: inline-block;
    background-color: #EEEFF3;
    border: 1px solid rgb(187, 199, 210);
    padding: 0px 5px;
    margin: 5px 5px 0 0;
}

.input-table.text .input-column select.form-control {
    width: calc(100% - 26px);
}

.question-preview-left .form-group select {
    width: 50%;
    display: inline;
    padding-right: 27px;
}

.input-table.text .input-column select {
    margin-left: 0;
    background-image: none;
    height: 33px;
}

.input-table.text input[type="text"].range-text, .input-table.hybrid input[type="text"].range-text {
    height: 33px;
    width: calc(50% - 11px);
    display: inline-block;
}

.input-table.text input[type="text"].range-text:last-child, 
.input-table.hybrid input[type="text"].range-text:last-child {
    margin-left: 3px;
}

.input-table.text ul.input-column li, .input-table.hybrid ul.input-column li {
    display: inline-block;
    text-decoration: none;
    margin: 0 2px;
}

.input-column .glyphicon {
    float: left;
    margin-top: 6px;
    color: rgb(187, 199, 210);
    cursor: pointer;
}

.input-column .glyphicon.inactive {
    cursor: initial;
    color: #EEEFF3;
}

.overview-settings button .caret, .glyphicon {
    padding: 0;
}

.question-data-container b {
    width: 50%;
    display: inline-block;
    margin-bottom: 6px;
}

span.markdown-menu {
    display: none;
}

.question-data.form-control {
    height: 96px;
}

.question-preview-left .form-group > div {
    overflow: initial;
}

.options-row label {
    margin-right: 12px;
}

.options-row input[type="radio"]:nth-child(1) {
    margin-left: 0px;
}

.options-row textarea,
textarea.question-data.hint {
    margin: 12px 0;
    height: 64px;
}

.input-help {
    text-decoration: none;
    margin-left: -18px;
    background-color: black;
    padding: 0 5px;
    border-radius: 50%;
}

.input-help span {
    color: rgb(187, 199, 210);
}

.options-row.add-multiple .input-help {
    float: right;
    margin-left: 0;
}

.question-preview-left input[type="radio"], .question-preview-left input[type="checkbox"] {
    margin-right: 6px;
}



.file-upload {
    margin-bottom: 6px;
    color: #84898D;
    font-size: 12px;
}

.file-details {
    padding-right: 6px;
    color: #84898D;
    font-size: 12px;
}

.question-dialog-container h3 {
    font-size: 16px;
}

/* Question Preview right */

.question-preview-right {
    width: 60%;
    float: right;
    overflow: scroll;
    height: calc(100% - 58px);
}

.question-preview-container {
    padding: 64px 24px 24px 24px;
}

.question-preview {
    margin: 0;
    width: 100%;
    padding: 20px;
    background-color: white;
    border: 1px solid #bbc7d2;
    position: relative;
}

/*.question-preview > div {
    margin-top: 15px;    
}*/

.question-preview-right h3 {
    text-align: center;
    margin-top: 32px;
}

/* Footer */

.modal-footer {
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    border: none;
}

.question-preview-footer {
    width: 100%;
    border-top: 1px solid rgb(205, 212, 217);
    padding: 12px;
    position: initial;
    bottom: 0;
    z-index: 3;
    background-color: #e7ebee;
    border-radius: 0 0 5px 5px;
}

.footer-action-container {
    width: initial;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.footer-action-container .btn {
    margin-right: 12px;
}

.footer-action-container > div {
    display: inline;
    color: #00796b;
    text-decoration: underline;
    cursor: pointer;
}

/* Section Modal */

.section-modal .modal-dialog {
    width: 48vw;
    height: 48vh;
    top: 22vh;
}

.section-modal .question-preview-left {
    width: 100%;
    border-radius: 5px;
}

.section-dialog-container {
    width: 100%;
}

.section-modal .form-group div {
    margin-bottom: 24px;
}

.section-modal .form-group label {
    font-weight: bold;
    margin-top: 8px;
}

.section-modal .form-group div {
    margin-bottom: 24px;
}

/* WFUI Form Item
-------------------------------------------------------------- */

/* WFUI Description */

.wfui-description:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 10px;
    width: 0;
    height: 0;
    margin: 0;
    border-top: 7px solid transparent;
    border-right: 8px solid #d9edf7;
    border-bottom: 7px solid transparent;
}

.wfui-description {
    position: absolute;
    top: 21px;
    left: calc(100% + 15px);
    width: calc(66.666% - 15px);
    padding: 10px;
    margin: 0;
    margin-bottom: 20px;
    background-color: #d9edf7;
    border-radius: 3px;
    font-size: 12px;
    font-weight: normal;
    border-top: 1px solid #fff;
}

.wfui-description::after ,
.question-type-text .wfui-description::before {
    display: none;
}

.question-type-text .wfui-description {
    position: static;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 26px;
    background: transparent;
    color: #333;
    padding: 0px;
    border: none;
}

/* WFUI Input */

#oicr-admin-form-builder-build div.wfui-form-item ,
.question-dialog-container div.wfui-form-item {
    width: 100%;
}

.wfui-form-item input[type="text"], 
.wfui-form-item input[type="number"], 
.wfui-form-item input[type="file"], 
.wfui-form-item input[type="password"], 
.wfui-form-item textarea {
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 5px !important;
    border: 1px solid #c1c4c7;
    outline: none;
    font-family: "Open Sans";
    font-size: 14px;
    resize: none;
}

.wfui-type-input-field ,
.wfui-type-listbox ,
.wfui-type-selection-hybrid ,
.wfui-type-table-format {
    width: 60%;
    position: relative;
}

.wfui-form-item .wfui-input-table__ul {
    margin-top: 0;
}

.wfui-input-table__ul {
    width: 100%;
    float: none;
}

.wfui-input-table__ul {
    padding-left: 0;
    display: block;
    margin: 0;
}

.wfui-input-table__li {
    list-style: none;
    list-style-type: none;
    display: inline-block;
    margin-right: 2%;
}

div[class*="multiple-inputs-"] .wfui-input-table__li:nth-child(odd) {
    width: 40%;
}

div[class*="multiple-inputs-"] .wfui-input-table__li:nth-child(even) {
    width: 7%;
    text-align: center;
}

div[class*="multiple-inputs-"] .wfui-input-table__li:nth-child(4n) {
    margin-right: 0;
}

div.multiple-inputs-2 .wfui-input-table__li:nth-child(odd) {
    width: 44.5%;
}

div.multiple-inputs-2 .wfui-input-table__li:nth-child(3n) {
    margin-right: 0;
}

div[class^="multiple-inputs-"]  .wfui-input-table__li:nth-child(even) {
    width: 7%;
    text-align: center;
}

.wfui-form-item .wfui-input-table__ul .wfui-form-item label {
    display: none;
}

div.wfui-form-item div.checkbox ,
div.wfui-form-item div.radio {
    border: none;
}

.question-preview-container .question-preview div.wfui-form-item {
    margin-bottom: 0;
}

/* WFUI Input */ 

.wfui-draggable {
    width: 80%
}

.wfui-draggable-item > div:first-child {
    border: 1px solid #dfdfe0;
    padding: 20px 10px 10px 10px;
    background-color: #fff;
}

.wfui-draggable-item > div:nth-child(2) {
    width: 100% !important;
    background-color: #f5f5f5;
    border: 1px solid #dfdfe0;
    padding: 20px 20px 20px 20px;
}

.wfui-draggable .wfui-draggable-item div.fields {
    margin: 0;
}

#oicr-admin-form-builder-build .wfui-draggable div.wfui-form-item,
#oicr-admin-form-builder-build .wfui-draggable div.wfui-type-listbox ,
#oicr-admin-form-builder-build .wfui-draggable div.wfui-type-table-format ,
#oicr-admin-form-builder-build .wfui-draggable div.wfui-type-input-field ,
#oicr-admin-form-builder-build .wfui-draggable div.wfui-type-selection-hybrid {
    width: 100%;
}


/* Checkboxes Input
-------------------------------------------------------------- */

div.wfui-type-selection-hybrid > div.wfui-form-item .wfui-checkboxes-hybrid.column-count-1 ,
div.wfui-type-selection-hybrid > div.wfui-form-item .wfui-radios-hybrid.column-count-1 ,
div.wfui-type-selection-hybrid > div.wfui-form-item .wfui-checkboxes-hybrid.column-count-0 ,
div.wfui-type-selection-hybrid > div.wfui-form-item .wfui-radios-hybrid.column-count-0 {
    width: 166.666%;
}

div.wfui-type-selection-hybrid > div.wfui-form-item .wfui-radios-hybrid.column-count-1+div.wfui-form-item ,
div.wfui-type-selection-hybrid > div.wfui-form-item .wfui-checkboxes-hybrid.column-count-1+div.wfui-form-item ,
div.wfui-type-selection-hybrid > div.wfui-form-item .wfui-radios-hybrid.column-count-0+div.wfui-form-item ,
div.wfui-type-selection-hybrid > div.wfui-form-item .wfui-checkboxes-hybrid.column-count-0+div.wfui-form-item {
    width: 100%;
}

.wfui-radios-hybrid ,
.wfui-checkboxes-hybrid ,
.wfui-radios-hybrid > div.radio ,
.wfui-checkboxes-hybrid > div.checkbox {
    display: flex;
    flex-flow: row wrap;
}

.wfui-radios-hybrid > div.radio > label ,
.wfui-checkboxes-hybrid > div.checkbox > label {
    display: flex;
    align-items: center;
}

.wfui-radios-hybrid div.wfui-form-item ,
.wfui-checkboxes-hybrid div.wfui-form-item {
    margin: 0;
}

.wfui-radios-hybrid .radioHybrid ,
.wfui-checkboxes-hybrid .checkboxHybrid {
    margin-left: 10px;
}

div.wfui-radios-hybrid label div.radioHybrid input  ,
div.wfui-checkboxes-hybrid label div.checkboxHybrid input {
    margin: 0;
}

.wfui-form-item .radio ,
.wfui-form-item .checkbox {
    margin-bottom: 1%;
}

.wfui-form-item div.column-count-0 .radio ,
.wfui-form-item div.column-count-0 .checkbox {
    width: initial;
    margin-right: 1%;
}

.wfui-form-item div.column-count-1 .radio ,
.wfui-form-item div.column-count-1 .checkbox {
    width: 100%;
}

.wfui-form-item div.column-count-2 .radio ,
.wfui-form-item div.column-count-2 .checkbox {
    width: 49.5%;
    margin-right: 1%;
}

.wfui-form-item div.column-count-2 .radio:nth-child(even) ,
.wfui-form-item div.column-count-2 .checkbox:nth-child(even) {
    margin-right: 0;
}

.wfui-form-item div.column-count-3 .radio ,
.wfui-form-item div.column-count-3 .checkbox {
    width: 32.666%;
    margin-right: 1%;
}

.wfui-form-item div.column-count-3 .radio:nth-child(3n) ,
.wfui-form-item div.column-count-3 .checkbox:nth-child(3n) {
    margin-right: 0;
}

.wfui-form-item div.column-count-4 .radio ,
.wfui-form-item div.column-count-4 .checkbox {
    width: 24.25%;
    margin-right: 1%;
}

.wfui-form-item div.column-count-4 .radio:nth-child(4n) ,
.wfui-form-item div.column-count-4 .checkbox:nth-child(4n) {
    margin-right: 0;
}

.wfui-form-item div.column-count-5 .radio ,
.wfui-form-item div.column-count-5 .checkbox {
    width: 19.2%;
    margin-right: 1%;
}

.wfui-form-item div.column-count-5 .radio:nth-child(5n) ,
.wfui-form-item div.column-count-5 .checkbox:nth-child(5n) {
    margin-right: 0;
}

/* --- Preview Page ---
----------------------------------------------------------------------------------- */

.survey-side-expand {
    display: none;
    cursor: pointer;
}

.overall-progress {
    color: #000;
}

.survey-question , 
.survey-end-container {
    width: 92%;
    margin: 0 auto;
    max-width: 800px;
}

.survey-question div.fields {
    margin: 32px 0;
}

div#application .application-main div.form+div {
    padding: 10px 0 10px 10px;
}

/* --- Publish Page ---
----------------------------------------------------------------------------------- */

.error-summary-row {
    overflow: hidden;
    padding: 12px 0;
}

.error-summary-column {
    width: 100%;
    float: left;
}

.error-summary-column img {
    width: 18px;
}

.error-summary-column:nth-child(1) img {
    float: right;
}

.publish-ready {
    width: calc(100% - 48px);
    background-color: #353c62;
    padding: 24px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 40px auto;
}

.publish-ready button {
    margin-left: 8px;
}

/* Error Messages */