.wfui-description {
    display: table;
    color: #000;
    padding: $CaG-description-padding-y $CaG-description-padding-x;
    margin-bottom: $CaG-description-margin-bottom;
    border: $CaG-description-border-width solid transparent;
    @include border-radius($CaG-description-border-radius);

    &__textContainer {
        display: table-cell;

        width: calc(100% - 110px);
        text-align: left;
        float: left;

        /* These are technically the same, but use both */
        overflow-wrap: break-word;
        word-wrap: break-word;

        -ms-word-break: break-all;
        /* This is the dangerous one in WebKit, as it breaks things wherever */
        word-break: break-all;
        /* Instead use this non-standard one: */
        word-break: break-word;

        /* Adds a hyphen where the word breaks, if supported (No Blink) */
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    &__imageContainer {
        display: table-cell;

        width: 110px;
        height: auto;
        float: left;
        text-align: right;

        &__imageGroup {
            float: right;
            text-align: left;
            background: white;
            position: relative;

            &:hover,
            &:hover &__enlargerIcon {
                color: black; /*color for magnifying glass awesome font icon*/
                cursor: pointer;
            }

            img {
                width: 100px;
                height: auto;
                float: right;
                padding: 2px;
                border: 1px solid #aaa5a1;
            }

            &__enlargerIcon {
                color: #464646;
                text-shadow: -1px -1px 0 white, 1px -1px 0 white,
                    -1px 1px 0 white, 1px 1px 0 white;
                position: absolute;
                right: 1px;
                z-index: 1;
            }
        }
    }

    &__imageDialog {
        position: fixed;
        top: 30%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: 3000;
        height: auto;
        text-align: center;

        &--theme-visible {
            position: relative;
            display: inline-block;
            background-color: #ffffff;
            border: 1px solid #ffffff;
            border-radius: 3px;
            -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
        }

        &__closeButton {
            color: #aaaaaa;
            position: absolute;
            top: -5px;
            right: 1px;
            font-size: 28px;
            font-weight: bold;

            &:hover,
            &:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
        }

        &__body {
            min-height: 93px;
            max-height: 100%;
            text-align: center;
            display: inline-block;
            img {
                height: auto;
                text-align: center;
                margin-top: 26px;
            }
        }
        &__footer {
            padding: 10px 25px;
            height: auto;
            text-align: center;
            color: black;
        }
    }

    &__imageDialogOverlay {
        display: none;

        &--theme-visible {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 2999;

            width: 100%;
            height: 100%;
            opacity: 0;
            filter: alpha(opacity=0); /* For IE8 and earlier */
        }
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

@each $color, $value in $CaG-colors {
    .wfui-description--theme-#{$color} {
      @include wfui-description-variant(CaG-color-level($color, $CaG-description-bg-level), CaG-color-level($color, $CaG-description-border-level), $black);
    }
  }